<ActionBar>
  <Label text="Login"></Label>
</ActionBar>

<GridLayout>
  <StackLayout class="main-container">
    <GridLayout class="form-controls" rows="auto, auto">
      <TextField
        class="input"
        hint="Username"
        returnKeyType="next"
        (returnPress)="focusPassword()"
        [(ngModel)]="user.username"
        autocorrect="false"
        autocapitalizationType="none"
        row="0"
      ></TextField>
      <TextField
        class="input"
        #password
        hint="Password"
        secure="true"
        returnKeyType="done"
        (returnPress)="submit()"
        [(ngModel)]="user.password"
        row="1"
      ></TextField>
    </GridLayout>

    <Button text="Login" (tap)="submit()" class="-primary m-t-20"></Button>
  </StackLayout>
</GridLayout>
